:root{
    --bg-color:#1f1934;
    --text-color:#fff;
    --main-color: #fd9e23;
    --second-color:#ff6347;
    --coolor-ffondo1: #2c1a47;
    --color-fondo2: #9b9bc8;

    --big-font: 6.6rem;
    --p-font: 1rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin-top: 5%;
}
.timeline-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px; /* Espacio entre los eventos */
}

.timeline {
    position: relative;
    width: 2px;
    background-color: #333;
    height: 100%;
}

.event {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event .card {
    max-width: 18rem;
    margin-bottom: 20px;
}

.event-left {
    margin-top: 100px;
    margin-right: 30px; /* Ajuste el margen de la izquierda */
}

.event-right {
    margin-top: 50px;
    margin-left: 30px; /* Ajuste el margen de la derecha */
}

.card-header {
    background-color: #ffc107; /* Color de la cabecera de la tarjeta */
    color: white;
}

.card-body {
    background-color: #f8f9fa;
}

.timeline-container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: #333;
    z-index: 1;
}

.card-body p {
    font-size: 14px;
}

.skills-table td i {
color: var(--main-color);
margin-right: 10px;
font-size: 1.2rem;
vertical-align: middle;

}
.skills-section {
margin-top: 50px;
padding: 20px;
text-align: center;
color: var(--text-color);
}

.skills-section h2 {
font-size: 2rem;
color: var(--main-color);
margin-bottom: 20px;
}

.skills-tables {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 200px;
}

.skills-table {
border-collapse: collapse;
width: 100%;
max-width: 400px;
background-color: #30294e;
color: var(--text-color);
border-radius: 10px;
overflow: hidden;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.skills-table th, .skills-table td {
padding: 12px 15px;
text-align: left;
border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.skills-table th {
background-color: var(--main-color);
color: #fff;
text-align: center;
}

.skills-table tbody tr:nth-child(even) {
background-color: rgba(255, 255, 255, 0.1);
}

.skills-table tbody tr:hover {
background-color: rgba(255, 140, 0, 0.2);
}

.skills-table td {
text-align: left;

}

.soft-skills-table td {
display: flex;
align-items: center;
justify-content: center;
}