.custom-footer {
    background-color: #1a1a2e; /* Fondo oscuro */
    color: white;
    padding: 20px 0;
    margin-top: 125px;
    position: relative;
  }
  
  .custom-footer .col {
    padding: 10px;
  }
  
  .custom-footer .icons-group {
    font-size: 30px;
    margin: 0 10px;
    color: #f514de;
  }
  
  .custom-footer a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
  }
  
  .custom-footer a:hover {
    color: #f39c12;
  }
  
  .custom-footer small {
    display: block;
    margin-top: 10px;
  }

  @media (max-width: 576px) {
    .custom-footer {
        padding: 10px;
        margin-top: 50px;
    }

    .custom-footer .row {
        flex-direction: column;
        align-items: center;
    }

    .custom-footer .col {
        min-width: 100%;
        text-align: center;
    }

    .custom-footer .icons-group {
        font-size: 20px; /* Reduce más en móviles */
    }

    .custom-footer small {
        font-size: 12px;
    }
}