:root{
  --bg-principal: #2d1b4f;
  --color-primario: #9147ff;
  --color-secundario: #ec8f16;
  --color-terciario: #3c215e;
}




.custom-navbar {
    background-color: var(--bg-principal) !important; /* Color de fondo */
    padding: 15px; /* Espaciado */
  }
  
.navbar-toggler{
    background-color: transparent;
}

.offcanvas{
    background-color: #e8e4e4;
}

  .custom-navbar .navbar-brand {
    color: #ffcc00 !important; /* Color del texto del logo */
    font-weight: bold;
  }
  
  .custom-navbar .nav-link {
    color: #ec8f16 !important;
    transition: color 0.3s ease-in-out;
  }
  
  .custom-navbar .nav-link:hover {
    color: #ffcc00 !important; /* Cambia el color al pasar el mouse */
  }
  
  .custom-navbar .dropdown-menu {
    background-color: #1c4dd4; /* Fondo del dropdown */
  }
  
  .custom-navbar .dropdown-item {
    color: rgb(220, 50, 50) !important;
  }
  
  .custom-navbar .dropdown-item:hover {
    background-color: #7196c2 !important; /* Fondo cuando se pasa el mouse */
  }
  
  .custom-navbar .btn-outline-success {
    border-color: #ffcc00 !important;
    color: #ffcc00 !important;
  }
  
  .custom-navbar .btn-outline-success:hover {
    background-color: #ffcc00 !important;
    color: #9999e8 !important;
  }

  @media (max-width: 900px) and (orientation: landscape),(max-width: 412px) {
    .navbar-toggler{
      background-color: var(--color-primario);
  }
}

