<!DOCTYPE html>
<!-- xmls:layaout indica que esta plantilla va a ser heredada-->
<html
    xmls:th="https://www.thymeleaf.org"
    xmls:layout="https://www.ultraq.net.nz/thymeleaf/layout"
    lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/estilos.css">
</head>
<body>
    <header> <!--Esta parte es fija-->
        <nav class="menu">
        <div class="logo"> <img src="./img/logo.png" alt="Mi-logo"></div>
            <ul class="menu-items">
                <li><a href="/">Inicio</a></li>
                <li><a href="/qsomos">QSOMOS</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main> <!--Esta parte es variable-->
        <section layout:fragment="MainBase">
            <h1>PLANTILLA BASE</h1>
        </section>
    </main>
    <footer> <!--Esta parte es fija-->
        <h1>EL FOOTER PERRO</h1>
    </footer>
    
</body>
</html>