
<footer th:fragment="footer-principal" class="pie-pagina">
    <div class="grupo1">
        <div class="caja">
            <figure>
                <a href="./Index.html">
                    <img src="/img/corazon-icon.png" alt="logo">
                </a>
            </figure>
        </div>
        <div class="caja">
            <h2>SOBRE DESARROLLO WEB</h2>
            <p>Soy lo que buscas</p>
        </div>
        <div class="caja">
            <h2>SIGUEME</h2>
            <div class="redes-sociales">
                <a href="#" class="fa-brands fa-instagram"></a>
                <a href="#" class="fa-brands fa-github"></a>
                <a href="#" class="fa-brands fa-linkedin"></a>
            </div>
        </div>
    </div>
    <div class="grupo2">
        <small>&copy; 2024 <b>Josu-dev</b> - Todos los DerechosReservados.</small>
    </div>
</footer>
