<footer th:fragment="footer-principal">
    <div class="custom-footer">
        <div class="container text-center">
            <div class="row">
                <!-- Logo -->
                <div class="col-md-4 izq">
                    <a href="/">
                        <img th:src="@{/img/logo-1.0.png}" alt="logo" class="footer-logo">
                    </a>
                </div>
                <!-- Información -->
                <div class="col-md-4 cen">
                    <h2>Josu-dev</h2>
                    <p>Tu lo imaginas, yo lo hago realidad</p>
                </div>
                <!-- Redes sociales -->
                <div class="col-md-4 der">
                    <h2>SÍGUEME</h2>
                    <div class="social-icons">
                        <a href="https://www.instagram.com/jjho_su?igsh=MTBieHFmMWFyaGlicA==" class="bi bi-instagram" target="_blank"></a>
                        <a href="https://github.com/ICV-24-25/proyecto-web-1-trimestre-J-osu" class="bi bi-github" target="_blank"></a>
                        <a href="https://www.linkedin.com/in/josu%C3%A9-de-la-cruz-858452290?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="bi bi-linkedin" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center custom-footer-bottom">
            <small>&copy; 2024 <b>Josu-dev</b> - Todos los Derechos Reservados.</small>
        </div>
    </dic>
</footer>