
<header th:fragment="header-principal">
    <a href="./Index.html" class="logo">
        <img src="/img/corazon-icon.png" alt="logo">
    </a>
    <nav>
        <ul class="navlist">
            <li><a href="./Index.html" class="active">Home</a></li>
            <li><a href="./mantenimiento.html">Experienca laboral</a><li>
            <li><a href="./porfolio.html">Porfolio</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
        </ul>
    </nav>
    <button class="menu-button">
        <i class="fa-solid fa-bars"></i>
    </button>
</header>
