<html xmlns:th="https://www.thymeleaf.org"
layout:decorate="~{www/layout/indexBase.html}" lang="es">
<head layout:fragment="extra-head">
    <link rel="stylesheet" th:href="@{/css/www/contactos.css}">
</head>
    <section layout:fragment="contenedor-principal">
        <section>
            <h2 class="section-title">Título del Formulario</h2>
            <div class="contenedor">
                <div class="form-content">
                    <h1 id="title">Formulario</h1>
                    <form>
                        <div class="input-field">
                          <i class="fa-solid fa-envelope"></i>
                          <label for="name" class="input-label">Email:</label>
                          <input type="email" placeholder="Correo.ejemplo@.com">
                        </div>
                        
                        <div class="input-field">
                          <i class="fa-solid fa-comment-alt"></i>
                          <label for="name" class="input-label">Comenta:</label>
                          <input type="text" placeholder="Escribe tu comentario">
                        </div>
                        
                        <div class="input-field">
                          <div class="check-group">
                            <i class="fa-solid fa-file-contract"></i>
                          <label for="name" class="input-label">TyC:</label>
                            <input type="checkbox" id="SI" name="terms" required>
                            <label for="accept" class="input-label">Acepto</label>
                            <input type="checkbox" id="NO" name="terms">
                            <label for="decline" class="input-label">No acepto</label>
                          </div>
                        </div>
                        <div class= "btn-field">
                            <button class="submitBtn" type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>