<html xmlns:th="https://www.thymeleaf.org"
    layout:decorate="~{www/layout/indexBase.html}" lang="es">
<head layout:fragment="extra-head">
    <link rel="stylesheet" th:href="@{/css/www/porfolio.css}">
</head>

<section layout:fragment="contenedor-principal">
  <section class="container mt-5 ">
    <section>
      <h1>Tu lo imaginas, yo lo creo</h1>
      <div class="row row-cols-1 row-cols-md-4 g-4">
          <div class="col">
              <div class="card">
                  <img th:src="@{/img/img-tetris.jpg}" class="card-img-top" alt="Tetris">
                  <div class="card-body text-center">
                      <a href="https://github.com/J-osu/GAMES/tree/main/tetris" target="_blank" class="btn btn-primary">Ver</a>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card">
                  <img th:src="@{/img/img-snake-juego.png}" class="card-img-top" alt="Snake">
                  <div class="card-body text-center">
                      <a href="https://github.com/J-osu/GAMES/tree/main/snake" target="_blank" class="btn btn-primary">Ver</a>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card">
                  <img th:src="@{/img/MotorGráfico.png}" class="card-img-top" alt="Motor Grafico">
                  <div class="card-body text-center">
                      <a href="https://github.com/J-osu/GAMES/tree/main/MTG(MoTor-Grafico)" target="_blank" class="btn btn-primary">Ver</a>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card">
                  <img th:src="@{/img/En-Construccion-.png}" class="card-img-top" alt="En construcción">
              </div>
          </div>
      </div>
      <div id="carouselExample" class="carousel slide mt-5" data-bs-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <img th:src="@{/img/img-snake-juego.png}" class="d-block w-100" alt="Snake">
              </div>
              <div class="carousel-item">
                  <img th:src="@{/img/img-tetris.jpg}" class="d-block w-100" alt="Tetris">
              </div>
              <div class="carousel-item">
                  <img th:src="@{/img/MotorGrafico}" class="d-block w-100" alt="MotorGráfico">
              </div>
              <div class="carousel-item">
                  <img th:src="@{/img/loguin.jpg}" class="d-block w-100" alt="Loguin">
              </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </button>
      </div>
    </section>
  </section>
</section>