:root{
  --bt-color1: #2a3b4e;
  --bt-color2: #ffffff;
  --bt-color3: #6a67ce;
  --bt-color4: #ffab40;
  --btn-color5: #6c63ff;

  --big-font: 6.6rem;
  --p-font: 1rem;
}

.btn-14 {
  border: 0 solid;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--bt-color3);
  color: var(--bt-color3);
  cursor: pointer;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.btn-14 {
border-radius: 100rem;
border-width: 2px;
overflow: hidden;
padding: 0.8rem 1rem;
position: relative;
transition: 0.2s ease,  0.2s ease;
}
.btn-14 span {
mix-blend-mode: difference;
}
.btn-14:hover {
transform: translateY(-4px);
will-change: box-shadow, transform;
box-shadow: 0 20px 100px 1px var(--bt-color4);
}

.view-btn {
  margin-top: 10px;
  background-color: var(--bt-color4);
  border: none;
  border-radius: 20px;
  padding: 5px 25%;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.view-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px var(--bt-color3);
}

.home-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background: var(--btn-color5);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.home-btn:hover {
  background: var(--bt-color4);
}