:root {
  --color-numero1: #2d1b4f;
  --color-numero2: #e8e4e4;
  --color-numero3: #9147ff;
  --color-numero4: #ec8f16;
  --color-numero5: #3c215e;
}



.custom-footer {
  background-color: var(--color-numero1);
  color: var(--color-numero4);
  padding: 5px 0;
  margin-top: 15px;
  font-size: 0.9rem;
}

.footer-logo {
  max-height: 150px;
}

img{
  margin: 0;
}

.custom-footer h2 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.custom-footer p {
  font-size: 0.9rem;
}

.social-icons a {
  font-size: 20px;
  margin: 0 5px;
  color: var(--color-numero4);
}

.social-icons a:hover{
  color: var(--color-numero3);
}

.custom-footer-bottom {
  background-color: var(--color-numero5);
  color: var(--color-numero2);
  padding: 5px 0;
  font-size: 0.8rem;
}

.col-md-4 h2{
  margin-top: 55px !important;
}
