:root { 
    --color-numero1: #2d1b4f;
    --color-numero2: #e8e4e4;
    --color-numero3: #9147ff;
    --color-numero4: #ec8f16;
    --color-numero5: #3c215e;
    --bg-color-inicio: #2c1a47;
    --text-color-inicio: #9b9bc8;
}

body {
    background: linear-gradient(135deg, var(--bg-color-inicio), var(--text-color-inicio));
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section h1{
    margin-top: 11%;
    text-align: center;
    color:#ec8f16d5;
}

.container {
    max-width: 900px;
    width: 100%;
    margin-top: 20px;
}

.row {
    margin-top: 60px !important;
}

.card {
    border: none;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.card-img-top {
    border-radius: 8px;
    max-height: 150px;
    width: 100%;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.btn-primary {
    background-color: var(--color-botones);
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--color-hover);
}

.carousel {
    max-width: 275px;
    width: 100%;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border: 3px solid var(--color-hover);
}

.carousel img {
    border-radius: 8px;
    max-height: 150px;
    width: 100%;
    object-fit: cover;
}

.carousel-control-prev, .carousel-control-next {
    filter: invert(100%);
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 15px;
    }

    .card-img-top {
        max-height: 120px;
    }

    .carousel {
        max-width: 100%;
    }

    .carousel img {
        max-height: 250px;
    }
}